.cards{
    width:25%;
    height: 36rem;
    border-radius: 1rem;
    display: inline-block;
    margin:2rem;
    background-color: 181818;
    box-shadow: 6px -9px 35px 0px #5a574d;
    transition: transform .6s ease-out;
    position: relative;
    top:1rem;
}
.card{
    
    width: 100%;
    height: 100%;
}
.image{
    width:100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.cards:hover{
        transform: scale(1.1); 

}
.title{
    font-size: large;
    font-weight: 700;
    color: whitesmoke;
}
.btn{
    background-color: #e50914;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}
.btn:hover{
    opacity: 2;
    background-color:#cb5b60 ;
}