.cards{
    width:25%;
    height: 36rem;
    border-radius: 1rem;
    display: inline-block;
    margin:2rem;
    background-color: 181818;
    box-shadow: 6px -9px 35px 0px #5a574d;
    transition: transform .6s ease-out;
    position: relative;
    top:1rem;
}
.card{
    
    width: 100%;
    height: 100%;
}
.image{
    width:100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.cards:hover{
        transform: scale(1.1); 

}
.title{
    font-size: x-large;
    font-weight: 700;
    color: whitesmoke;
}
.btn{
    background-color: #e50914;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}
.btn:hover{
    opacity: 2;
    background-color:#cb5b60 ;
}

/* ---------------- Responsive ---------------- */
@media(max-width:1200px) {
    .cards{
        width: 29%;
        height: 36rem;
        margin: 1rem;
    }
}
@media(max-width:1024px) {
    .cards{
        width: 45%;
        height: 37rem;
        margin: 1rem 0rem 8rem 2rem;
        position: relative;
        right: 0.6rem;
    }
    .title{
        font-size: x-large;
        font-weight: 700;
    }
  
}
@media(max-width:900px) {
    .cards{
        width: 45%;
        height: 37rem;
        margin: 1rem 0rem 8rem 2rem;
        position: relative;
        right: 0.6rem;
    }
    .title{
        font-size: x-large;
        font-weight: 700;
    }

}
@media(max-width:768px) {
    .cards{
        width: 45%;
        height: 37rem;
        margin: 1rem 0rem 8rem 2rem;
        position: relative;
        right: 1rem;
        
    }

}
@media(max-width:668px) {
    .cards{
        width: 76%;
        height: 37rem;
        margin: 2rem 0rem 8rem 2rem;
        position: relative;
        right: 1rem;
        
    }

}
@media(max-width:480px) {
    .cards{
        width: 90%;
        height: 37rem;
        margin: 3.5rem 0rem 8rem 2rem;
        position: relative;
        right: 1rem;
        
    }
   

}
@media(max-width:320px) {
    .cards{
        width: 138%;
        height: 36rem;
        margin: 3rem 0rem 7rem 2rem;
        position: relative;
        right: 1.3rem;
    }
   
}